@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hero-button {
        @apply rounded-full border border-transparent py-2 px-4 text-gray-500 duration-300 hover:border-[#F7AB0A]/60 hover:text-[#F7AB0A]/60;
    }

    .header-section {
        @apply absolute top-[70px] left-1/2 -translate-x-1/2 text-lg uppercase tracking-[10px] text-gray-500 sm:top-20 sm:tracking-[20px] md:text-2xl;
    }

    .wavy-underline-orange {
        @apply underline decoration-[#F7AB0A] decoration-wavy;
    }

    .contact-info {
        @apply flex items-center justify-center gap-x-3;
    }

    .input {
        @apply w-full rounded-sm border-b-2 border-b-transparent bg-[#363636] p-2 text-sm text-[#969696] outline-none duration-200 hover:border-b-[#F7AB0A]/70 focus:border-b-[#F7AB0A]/70 focus:text-[#F7AB0A]/70 xxs:text-base;
    }

    .input-error {
        @apply self-start text-left text-xs text-red-800 xxs:text-sm;
    }
}
